<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#insert-crops">Insert Crops</button>
<div class="card">
  <div class="card-body">
    <table class="table datatable">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">Crop Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crop of crops; let n = index">
          <td>{{n + 1}}</td>
          <td>{{ crop.name }}</td>
          <td>{{ crop.quantity }}</td>
          <td>{{ crop.price }}</td>
          <td>
            <button type="button" class="btn btn-outline-success mx-3" data-bs-toggle="modal" data-bs-target="#description-crops" (click)="openModal(crop.id)">Description</button>
            <button type="button" class="btn btn-outline-primary mx-3" data-bs-toggle="modal" data-bs-target="#edit-crops" (click)="openEditModal(crop.id)">Edit</button> 
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-crops" (click)="openDeleteModal(crop.id)">Delete</button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- insert-crops-modal -->
<div class="modal fade" id="insert-crops" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Insert Crops</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <input type="text" id="cropName" class="form-control" placeholder="Crops Name">
          </div>
          <div class="col-md-6">
            <input type="number" id="cropQuantity" class="form-control" placeholder="Quantity">
          </div>
          <div class="col-md-6">
            <input type="number" id="cropPrice" class="form-control" placeholder="Price">
          </div>
          <div class="col-md-6">
            <textarea type="text" id="cropDescription" class="form-control" placeholder="Description"></textarea>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveCrop()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- description-crops-modal -->
<div class="modal fade" id="description-crops" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Description of Crops</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td>{{ cropDescription }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- edit-crops-modal -->
<div class="modal fade" id="edit-crops" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Crops</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <input type="text" id="cropName" class="form-control" placeholder="Crops Name">
          </div>
          <div class="col-md-6">
            <input type="number" id="cropQuantity" class="form-control" placeholder="Quantity">
          </div>
          <div class="col-md-6">
            <input type="number" id="cropPrice" class="form-control" placeholder="Price">
          </div>
          <div class="col-md-6">
            <textarea type="text" id="cropDescription" class="form-control" placeholder="Description"></textarea>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateCrop()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- delete-crops-modal -->
<div class="modal fade" id="delete-crops" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Crops</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete it!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteCrop()">Save changes</button>
      </div>
    </div>
  </div>
</div>
      
