<div class="card">
    <div class="card-body">
        <h5 class="card-title">Registration Form</h5>
        <form class="row g-3">
            <div class="col-md-12">
                <input type="text" id="fname" class="form-control" placeholder="First Name">
            </div>
            <div class="col-md-12">
                <input type="text" id="lname" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-md-12">
                <input type="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-12">
                <input type="number" id="phone_number" class="form-control" placeholder="Phone Number">
            </div>
            <div class="col-md-12">
                <input type="password" id="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-12">
                <input type="text" id="address" class="form-control" placeholder="Address">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mx-3" (click)="saveUser()">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>


