<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login Form</h5>
        <form class="row g-3">
            <div class="col-md-12">
              <input type="email" id="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="col-md-12">
              <input type="password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="pass">Forgot password?</div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </div>
            <div class="signup">Not a member?<a href="registration">Signup</a></div>
          </form>
          
    </div>
</div>
  


