<div class="card">
    <div class="card-body">
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Crop Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let n = index">
            <td>{{ n + 1 }}</td>
            <td>{{ order.cropName }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.address }}</td>
            <td>
              <button type="button" class="btn btn-outline-success mx-3">Accepted</button>
              <button type="button" class="btn btn-outline-danger">Not Accepted</button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

